{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Sign In</h2>
        <form action="/signin" method="POST">
            {% csrf_token %}
            <lable for="">Username</lable>
            <input type="text" id="username" name="username" placeholder="Enter username" required>
            <br>

            <lable for="">password</lable>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <br>

            <button type="submit">sign In</button>
        </form>
{% endblock %}
</body>
</html>